{% extends '_base.html' %}

{% load thumbnail %}

{% block title %}Paintings{% endblock title %}

{% block content %}
    {% for painting in acrylic_list %}
        {% if painting.artwork_type == "acrylic" %}
            {% thumbnail painting.image "x300" as im %}
                <h3><a href="{{ painting.get_absolute_url }}">{{ painting.title }}</a></h3>
                <img style="border:1px solid gray;" src="{{ im.url }}">
                <p>Artist: {{ painting.artist }}</p>
                <p>Price: €{{ painting.price }}</p>
            {% endthumbnail %}
        {% endif %}
    {% endfor %}
{% endblock content %}