{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-3">Welcome to the Art Cottage!</h1>
  <p class="lead">This is an exhibition of some works I created during a time of
                  healing and rejuvenation.</p>
  <hr class="my-2">
  <p>Come inside and have a look!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'painting_list' %}" role="button">Shop now</a>
  </p>
</div>
{% endblock content %}
